body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    background-size: cover; /* This will make the background cover the entire page */
    background-position: center; /* This will center the background image */
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right, #042d6b, #1c55aa);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #007BFF;
}

.graphs img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}
.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #007BFF;
    font-weight: bold;
}
input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
